The purpose of this file is to extract articles related to Kerala floods in local language (hindi) using **GoogleNews** and store it in a dataframe. Then using **newspaper**, extract the date, title, article(text) and summary of the article and store it in a dataframe for further processing.

In [100]:
# !pip install GoogleNews  # install GoogleNews library

In [38]:
from GoogleNews import GoogleNews

In [39]:
news = GoogleNews() # object created

In [40]:
news.set_lang('en') # language set to hindi

In [41]:
news.set_time_range('08/14/2018','08/20/2018')  # mm/dd/yyyy format

In [42]:
news.set_encode('utf-8')

In [43]:
news.get_news('केरल बाढ़') # insert relevant keywords, केरल बाढ़ is hindi for kerala floods
#news.get_news('kerala floods')

In [44]:
news.search('केरल बाढ़')
#news.search('Kerala floods')

In [45]:
news.get_page(2)

In [46]:
result = news.result()

In [47]:
type(news)

GoogleNews.GoogleNews

In [48]:
import pandas as pd

In [49]:
df = pd.DataFrame(result) # convert into a dataframe
df.head()

,title,desc,date,datetime,link,img,media,site
0,"Heavy rain lashes parts of Kerala, floods feared",As the low-pressure area in the south-eastern ...,4 days ago,2021-05-15 10:44:25.067832,news.google.com/./articles/CAIiENAMoJ_YrsRfiDo...,https://lh3.googleusercontent.com/ar-SYU-EofTc...,None,Mint
1,Flood Met Office begins functioning at Met Cen...,"So far, the Flood Met operations for Kerala ha...",6 days ago,2021-05-13 10:44:25.068835,news.google.com/./articles/CBMihgFodHRwczovL3d...,https://lh6.googleusercontent.com/proxy/GSo5zN...,None,The Hindu
2,Cyclone Tauktae: Severe flood predicted in Ker...,Cyclone Tauktae: The Central Water Commission ...,4 days ago,2021-05-15 10:44:25.069832,news.google.com/./articles/CAIiEOc6D5FzoDF2okW...,https://lh3.googleusercontent.com/ubMqQjaiziku...,None,Mint
3,"Kerala flood hero turns villain, booked in mor...","A Kerala fisherman, who had won several hearts...",Apr 20,NaT,news.google.com/./articles/CBMib2h0dHBzOi8vd3d...,https://lh3.googleusercontent.com/proxy/E_ZbxW...,None,THE WEEK
4,Weather warning for Kerala from May 13-16 as c...,Weather warning for Kerala from May 13-16 as c...,6 days ago,2021-05-13 10:44:25.071827,news.google.com/./articles/CAIiECM9JuRNZsKt-pV...,https://lh3.googleusercontent.com/uFEWwPxCyp-O...,None,The News Minute

In [50]:
df.shape

(117, 8)

In [51]:
# !pip install newspaper3k

In [52]:
from newspaper import Article

In [53]:
list = []

In [54]:
import nltk

In [55]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\jamsh\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [56]:
# Config will allow us to access the specified url for which we are #not authorized. 
# Sometimes we may get 403 client error while parsing the link to download the article.

In [57]:
from newspaper import Config

In [58]:
user_agent = 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'
config = Config()
config.browser_user_agent = user_agent

In [59]:
df.loc[0,:]

title        Heavy rain lashes parts of Kerala, floods feared
desc        As the low-pressure area in the south-eastern ...
date                                               4 days ago
datetime                           2021-05-15 10:44:25.067832
link        news.google.com/./articles/CAIiENAMoJ_YrsRfiDo...
img         https://lh3.googleusercontent.com/ar-SYU-EofTc...
media                                                    None
site                                                     Mint
Name: 0, dtype: object

In [60]:
url = df.loc[0,:]['link']  # find url of an article

In [61]:
type(url)

str

In [62]:
df['date'][0] # date of an article

'4 days ago'

In [63]:
df.shape[0]  # total number of rows in the dataframe

117

In [64]:
for _ in range(0, df.shape[1]):
  dict = {}
  url = df.loc[_,:]['link']
  url = 'https://' + "%s" % (url)
  url = url.strip()
  a = Article(url, language ='hi')
  a.download()
  a.parse()
  a.nlp()
  dict['Date'] = df['date'][_]
  dict['Title'] = a.title
  dict['Article'] = a.text
  dict['Summary'] = a.summary
  list.append(dict)

In [65]:
news_df = pd.DataFrame(list)

In [66]:
news_df.head()

,Date,Title,Article,Summary
0,4 days ago,Before you continue,"Deliver and maintain services, like tracking o...","Deliver and maintain services, like tracking o..."
1,6 days ago,Before you continue,"Deliver and maintain services, like tracking o...","Deliver and maintain services, like tracking o..."
2,4 days ago,Before you continue,"Deliver and maintain services, like tracking o...","Deliver and maintain services, like tracking o..."
3,Apr 20,Before you continue,"Deliver and maintain services, like tracking o...","Deliver and maintain services, like tracking o..."
4,6 days ago,Before you continue,"Deliver and maintain services, like tracking o...","Deliver and maintain services, like tracking o..."