In [1]:
""" Warning : Don't forget to remove your github username and token after running this cell """
 
import pandas as pd
import requests
import io
 
# Username of your GitHub account
 
username = ''
 
# Personal Access Token (PAO) from your GitHub account
 
token = ''
 
# Creates a re-usable session object with your creds in-built
 
github_session = requests.Session()
github_session.auth = (username, token)

In [7]:
def download_data (url,country):

    url = url # Make sure the url is the raw version of the file on GitHub
    download = github_session.get(url).content

    # Reading the downloaded content and making it a pandas dataframe

    df = pd.read_csv(io.StringIO(download.decode('utf-8','ignore')))
    #df = pd.read_csv(io.StringIO(download.decode('cp1252')))
    #df = pd.read_csv(io.StringIO(download.decode('Latin1')))


    # Drop the Unnamed and ID column
    df = df.drop(['Unnamed: 0','ID'], axis = 1)

    #Add country column to dataframe
    df['Country']= country

    # return dataframe

    return df

In [8]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/FF-2012-000189-IDN.csv"
FF_2012_000189_IDN = download_data(url,'Indonesia')
print(FF_2012_000189_IDN.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           83 non-null     object
 1   article_title      83 non-null     object
 2   article_link       83 non-null     object
 3   article_content    35 non-null     object
 4   publishing_date    83 non-null     object
 5   article_image      35 non-null     object
 6   article_keywords   83 non-null     object
 7   article_relevance  83 non-null     object
 8   category           83 non-null     object
 9   Country            83 non-null     object
dtypes: object(10)
memory usage: 6.6+ KB
None

In [9]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/FF-2016-000062-IDN.csv"
FF_2016_000062_IDN = download_data(url,'Indonesia')
print(FF_2016_000062_IDN.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           100 non-null    object
 1   article_title      100 non-null    object
 2   article_link       100 non-null    object
 3   article_content    62 non-null     object
 4   publishing_date    100 non-null    object
 5   article_image      64 non-null     object
 6   article_keywords   100 non-null    object
 7   article_relevance  100 non-null    object
 8   category           100 non-null    object
 9   Country            100 non-null    object
dtypes: object(10)
memory usage: 7.9+ KB
None

In [11]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/FL-2021-000025-AUS.csv"
FL_2021_000025_AUS = download_data(url,'Australia')
print(FL_2021_000025_AUS.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           55 non-null     object
 1   article_title      55 non-null     object
 2   article_link       55 non-null     object
 3   article_content    50 non-null     object
 4   publishing_date    55 non-null     object
 5   article_image      52 non-null     object
 6   article_keywords   55 non-null     object
 7   article_relevance  0 non-null      float64
 8   category           55 non-null     object
 9   Country            55 non-null     object
dtypes: float64(1), object(9)
memory usage: 4.4+ KB
None

In [12]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/11%20-%20DR-2021-000022-AFG.csv"
DR_2021_000022_AFG = download_data(url,'Afghanistan')
print(DR_2021_000022_AFG.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           100 non-null    object
 1   article_title      100 non-null    object
 2   article_link       100 non-null    object
 3   article_content    99 non-null     object
 4   publishing_date    100 non-null    object
 5   article_image      96 non-null     object
 6   article_keywords   100 non-null    object
 7   article_relevance  100 non-null    object
 8   Unnamed: 10        0 non-null      float64
 9   category           99 non-null     object
 10  Country            100 non-null    object
dtypes: float64(1), object(10)
memory usage: 8.7+ KB
None

In [15]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/12%20-%20DR-2021-000054-SOM_labelled.csv"
DR_2021_000054_SOM = download_data(url,'Somalia')
print(DR_2021_000054_SOM.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   event_id          100 non-null    object
 1   article_title     100 non-null    object
 2   article_link      100 non-null    object
 3   article_content   95 non-null     object
 4   publishing_date   100 non-null    object
 5   article_image     92 non-null     object
 6   article_keywords  100 non-null    object
 7   category          100 non-null    object
 8   Country           100 non-null    object
dtypes: object(9)
memory usage: 7.2+ KB
None

In [18]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/3%20-%20DR-2014-000109-CHN.csv"
DR_2014_000109_CHN = download_data(url,'China')
print(DR_2014_000109_CHN.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           100 non-null    object
 1   article_title      100 non-null    object
 2   article_link       100 non-null    object
 3   article_content    88 non-null     object
 4   publishing_date    100 non-null    object
 5   article_image      85 non-null     object
 6   article_keywords   100 non-null    object
 7   article_relevance  100 non-null    object
 8   Unnamed: 10        1 non-null      object
 9   Country            100 non-null    object
dtypes: object(10)
memory usage: 7.9+ KB
None

In [19]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/5%20-%20DR-2015-000134-SOM.csv"
DR_2015_000134_SOM = download_data(url,'Somalia')
print(DR_2015_000134_SOM.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           56 non-null     object
 1   article_title      56 non-null     object
 2   article_link       56 non-null     object
 3   article_content    46 non-null     object
 4   publishing_date    56 non-null     object
 5   article_image      46 non-null     object
 6   article_keywords   56 non-null     object
 7   article_relevance  56 non-null     object
 8   Country            56 non-null     object
dtypes: object(9)
memory usage: 4.1+ KB
None

In [20]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/6%20-%20DR-2016-000139-LKA.csv"
DR_2016_000139_LKA = download_data(url,'Sri Lanka')
print(DR_2016_000139_LKA.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           100 non-null    object
 1   article_title      100 non-null    object
 2   article_link       100 non-null    object
 3   article_content    95 non-null     object
 4   publishing_date    100 non-null    object
 5   article_image      93 non-null     object
 6   article_keywords   100 non-null    object
 7   article_relevance  100 non-null    object
 8   Country            100 non-null    object
dtypes: object(9)
memory usage: 7.2+ KB
None

In [23]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/DR-2019-000034-LKA.csv"
DR_2019_000034_LKA = download_data(url,'Sri Lanka')
print(DR_2019_000034_LKA.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           100 non-null    object
 1   article_title      100 non-null    object
 2   article_link       100 non-null    object
 3   article_content    87 non-null     object
 4   publishing_date    100 non-null    object
 5   article_image      83 non-null     object
 6   article_keywords   100 non-null    object
 7   article_relevance  100 non-null    object
 8   category           100 non-null    object
 9   Country            100 non-null    object
dtypes: object(10)
memory usage: 7.9+ KB
None

In [25]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/Drought_Ghana_2017_April.csv"
Drought_Ghana_2017_April = download_data(url,'Ghana')
print(Drought_Ghana_2017_April.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           100 non-null    object
 1   article_title      100 non-null    object
 2   article_link       100 non-null    object
 3   article_content    85 non-null     object
 4   publishing_date    99 non-null     object
 5   article_image      87 non-null     object
 6   article_keywords   99 non-null     object
 7   article_relevance  99 non-null     object
 8   category           100 non-null    object
 9   Country            100 non-null    object
dtypes: object(10)
memory usage: 7.9+ KB
None

In [26]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/Drought_Ghana_2019_Aug.csv"
Drought_Ghana_2019_Aug = download_data(url,'Ghana')
print(Drought_Ghana_2019_Aug.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           100 non-null    object
 1   article_title      100 non-null    object
 2   article_link       100 non-null    object
 3   article_content    93 non-null     object
 4   publishing_date    100 non-null    object
 5   article_image      95 non-null     object
 6   article_keywords   100 non-null    object
 7   article_relevance  100 non-null    object
 8   category           100 non-null    object
 9   Country            100 non-null    object
dtypes: object(10)
memory usage: 7.9+ KB
None

In [27]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/Drought_Ghana_2019_July.csv"
Drought_Ghana_2019_July = download_data(url,'Ghana')
print(Drought_Ghana_2019_July.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           100 non-null    object
 1   article_title      100 non-null    object
 2   article_link       100 non-null    object
 3   article_content    83 non-null     object
 4   publishing_date    100 non-null    object
 5   article_image      90 non-null     object
 6   article_keywords   100 non-null    object
 7   article_relevance  100 non-null    object
 8   category           100 non-null    object
 9   Country            100 non-null    object
dtypes: object(10)
memory usage: 7.9+ KB
None

In [28]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/DR-2011-000121-CHN.csv"
DR_2011_000121_CHN = download_data(url,'China')
print(DR_2011_000121_CHN.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           91 non-null     object
 1   article_title      91 non-null     object
 2   article_link       91 non-null     object
 3   article_content    84 non-null     object
 4   publishing_date    91 non-null     object
 5   article_image      80 non-null     object
 6   article_keywords   91 non-null     object
 7   article_relevance  91 non-null     object
 8   category           91 non-null     object
 9   Country            91 non-null     object
dtypes: object(10)
memory usage: 7.2+ KB
None

In [29]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/DR-2012-000177-LKA.csv"
DR_2012_000177_LKA = download_data(url,'Sri Lanka')
print(DR_2012_000177_LKA.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           100 non-null    object
 1   article_title      100 non-null    object
 2   article_link       100 non-null    object
 3   article_content    85 non-null     object
 4   publishing_date    100 non-null    object
 5   article_image      86 non-null     object
 6   article_keywords   100 non-null    object
 7   article_relevance  100 non-null    object
 8   category           100 non-null    object
 9   Country            100 non-null    object
dtypes: object(10)
memory usage: 7.9+ KB
None

In [30]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/DR-2016-000142-MOZ.csv"
DR_2016_000142_MOZ = download_data(url,'Mozambique')
print(DR_2016_000142_MOZ.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           100 non-null    object
 1   article_title      100 non-null    object
 2   article_link       100 non-null    object
 3   article_content    98 non-null     object
 4   publishing_date    100 non-null    object
 5   article_image      96 non-null     object
 6   article_keywords   100 non-null    object
 7   article_relevance  100 non-null    object
 8   Unnamed: 10        0 non-null      float64
 9   category           100 non-null    object
 10  Country            100 non-null    object
dtypes: float64(1), object(10)
memory usage: 8.7+ KB
None

In [31]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/FL-2016-000114-EGY.csv"
FL_2016_000114_EGY= download_data(url,'Egypt')
print(FL_2016_000114_EGY.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           100 non-null    object
 1   article_title      100 non-null    object
 2   article_link       100 non-null    object
 3   article_content    97 non-null     object
 4   publishing_date    100 non-null    object
 5   article_image      98 non-null     object
 6   article_keywords   100 non-null    object
 7   article_relevance  100 non-null    object
 8   category           100 non-null    object
 9   Country            100 non-null    object
dtypes: object(10)
memory usage: 7.9+ KB
None

In [32]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/FL-2017-000067-BRA.csv"
FL_2017_000067_BRA= download_data(url,'Brazil')
print(FL_2017_000067_BRA.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           33 non-null     object
 1   article_title      33 non-null     object
 2   article_link       33 non-null     object
 3   article_content    32 non-null     object
 4   publishing_date    33 non-null     object
 5   article_image      33 non-null     object
 6   article_keywords   33 non-null     object
 7   article_relevance  33 non-null     object
 8   category           33 non-null     object
 9   Unnamed: 11        1 non-null      object
 10  Country            33 non-null     object
dtypes: object(11)
memory usage: 3.0+ KB
None

In [33]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/FL-2018-000134-IND.csv"
FL_2018_000134_IND= download_data(url,'India')
print(FL_2018_000134_IND.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           39 non-null     object
 1   article_title      39 non-null     object
 2   article_link       39 non-null     object
 3   article_content    38 non-null     object
 4   publishing_date    39 non-null     object
 5   article_image      38 non-null     object
 6   article_keywords   39 non-null     object
 7   article_relevance  0 non-null      float64
 8   category           39 non-null     object
 9   Country            39 non-null     object
dtypes: float64(1), object(9)
memory usage: 3.2+ KB
None

In [34]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/FL-2019-000022-IRN.csv"
FL_2019_000022_IRN= download_data(url,'Iran')
print(FL_2019_000022_IRN.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           79 non-null     object
 1   article_title      79 non-null     object
 2   article_link       79 non-null     object
 3   article_content    79 non-null     object
 4   publishing_date    34 non-null     object
 5   article_image      79 non-null     object
 6   article_keywords   79 non-null     object
 7   Unnamed: 9         0 non-null      float64
 8   article_relevance  0 non-null      float64
 9   category           79 non-null     object
 10  Country            79 non-null     object
dtypes: float64(2), object(9)
memory usage: 6.9+ KB
None

In [35]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/FL-2019-000084-IND%20-%20FL-2019-000084-IND.csv"
FL_2019_000084_IND= download_data(url,'India')
print(FL_2019_000084_IND.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           100 non-null    object
 1   article_title      100 non-null    object
 2   article_link       100 non-null    object
 3   article_content    98 non-null     object
 4   publishing_date    100 non-null    object
 5   article_image      97 non-null     object
 6   article_keywords   100 non-null    object
 7   article_relevance  0 non-null      float64
 8   category           98 non-null     object
 9   Country            100 non-null    object
dtypes: float64(1), object(9)
memory usage: 7.9+ KB
None

In [36]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/FL-2019-000179-CAN%20(2).csv"
FL_2019_000179_CAN= download_data(url,'Canada')
print(FL_2019_000179_CAN.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           100 non-null    object
 1   article_title      100 non-null    object
 2   article_link       100 non-null    object
 3   article_content    97 non-null     object
 4   publishing_date    100 non-null    object
 5   article_image      98 non-null     object
 6   article_keywords   100 non-null    object
 7   article_relevance  100 non-null    object
 8   Category           100 non-null    object
 9   Country            100 non-null    object
dtypes: object(10)
memory usage: 7.9+ KB
None

In [50]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/FL-2020-000038-EGY_labelled.csv"
FL_2020_000038_EGY= download_data(url,'Egypt')
print(FL_2020_000038_EGY.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   event_id          100 non-null    object
 1   article_title     100 non-null    object
 2   article_link      100 non-null    object
 3   article_content   99 non-null     object
 4   publishing_date   100 non-null    object
 5   article_image     95 non-null     object
 6   article_keywords  100 non-null    object
 7   category          100 non-null    object
 8   Country           100 non-null    object
dtypes: object(9)
memory usage: 7.2+ KB
None

In [38]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/FL-2020-000164-IND.csv"
FL_2020_000164_IND= download_data(url,'India')
print(FL_2020_000164_IND.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           68 non-null     object
 1   article_title      68 non-null     object
 2   article_link       68 non-null     object
 3   article_content    65 non-null     object
 4   publishing_date    68 non-null     object
 5   article_image      65 non-null     object
 6   article_keywords   68 non-null     object
 7   article_relevance  68 non-null     object
 8   category           68 non-null     object
 9   Country            68 non-null     object
dtypes: object(10)
memory usage: 5.4+ KB
None

In [39]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/FL-2021-000021-IND.csv"
FL_2021_000021_IND= download_data(url,'India')
print(FL_2021_000021_IND.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           100 non-null    object
 1   article_title      100 non-null    object
 2   article_link       100 non-null    object
 3   article_content    94 non-null     object
 4   publishing_date    100 non-null    object
 5   article_image      96 non-null     object
 6   article_keywords   100 non-null    object
 7   article_relevance  100 non-null    object
 8   Category           3 non-null      object
 9   category           100 non-null    object
 10  Country            100 non-null    object
dtypes: object(11)
memory usage: 8.7+ KB
None

In [40]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/FL-2021-000030-IDN_labelled.csv"
FL_2021_000030_IDN= download_data(url,'India')
print(FL_2021_000030_IDN.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   event_id          100 non-null    object
 1   article_title     100 non-null    object
 2   article_link      100 non-null    object
 3   article_content   81 non-null     object
 4   publishing_date   100 non-null    object
 5   article_image     85 non-null     object
 6   article_keywords  100 non-null    object
 7   category          100 non-null    object
 8   Country           100 non-null    object
dtypes: object(9)
memory usage: 7.2+ KB
None

In [41]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/FL-2021-000038-KEN.csv"
FL_2021_000038_KEN= download_data(url,'Kenya')
print(FL_2021_000038_KEN.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           100 non-null    object
 1   article_title      100 non-null    object
 2   article_link       100 non-null    object
 3   article_content    67 non-null     object
 4   publishing_date    100 non-null    object
 5   article_image      67 non-null     object
 6   article_keywords   100 non-null    object
 7   article_relevance  100 non-null    object
 8   category           100 non-null    object
 9   Country            100 non-null    object
dtypes: object(10)
memory usage: 7.9+ KB
None

In [42]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/FL-Brazil-EN.csv"
FL_Brazil_EN= download_data(url,'Kenya')
print(FL_Brazil_EN.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           200 non-null    object
 1   article_title      200 non-null    object
 2   article_link       200 non-null    object
 3   article_content    194 non-null    object
 4   publishing_date    200 non-null    object
 5   article_image      189 non-null    object
 6   article_keywords   200 non-null    object
 7   article_relevance  200 non-null    object
 8   Category           101 non-null    object
 9   Unnamed: 11        0 non-null      float64
 10  Unnamed: 12        0 non-null      float64
 11  Unnamed: 13        0 non-null      float64
 12  Unnamed: 14        0 non-null      float64
 13  Unnamed: 15        0 non-null      float64
 14  Unnamed: 16        0 non-null      float64
 15  Country            200 non-null    object
dtypes: float64(6), object(10)
memory usage: 25.1+ KB
None

In [43]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/data_flood_Kenya_Africa.csv"
data_flood_Kenya_Africa= download_data(url,'Kenya')
print(data_flood_Kenya_Africa.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           100 non-null    object
 1   article_title      100 non-null    object
 2   article_link       100 non-null    object
 3   article_content    94 non-null     object
 4   publishing_date    100 non-null    object
 5   article_image      92 non-null     object
 6   article_keywords   100 non-null    object
 7   article_relevance  100 non-null    object
 8   category           100 non-null    object
 9   Country            100 non-null    object
dtypes: object(10)
memory usage: 7.9+ KB
None

In [44]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/FL-Nigeria-EN.csv"
FL_Nigeria_EN= download_data(url,'Nigeria')
print(FL_Nigeria_EN.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           600 non-null    object
 1   article_title      600 non-null    object
 2   article_link       600 non-null    object
 3   article_content    576 non-null    object
 4   publishing_date    600 non-null    object
 5   article_image      539 non-null    object
 6   article_keywords   600 non-null    object
 7   article_relevance  600 non-null    object
 8   category           600 non-null    object
 9   Country            600 non-null    object
dtypes: object(10)
memory usage: 47.0+ KB
None

In [45]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/FL-Pakistan-EN.csv"
FL_Pakistan_EN= download_data(url,'Pakistan')
print(FL_Pakistan_EN.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           400 non-null    object
 1   article_title      400 non-null    object
 2   article_link       400 non-null    object
 3   article_content    384 non-null    object
 4   publishing_date    400 non-null    object
 5   article_image      369 non-null    object
 6   article_keywords   400 non-null    object
 7   article_relevance  400 non-null    object
 8   category           400 non-null    object
 9   Country            400 non-null    object
dtypes: object(10)
memory usage: 31.4+ KB
None

In [46]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/FL-Uganda-EN.csv"
FL_Uganda_EN= download_data(url,'Uganda')
print(FL_Uganda_EN.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           400 non-null    object
 1   article_title      400 non-null    object
 2   article_link       400 non-null    object
 3   article_content    363 non-null    object
 4   publishing_date    400 non-null    object
 5   article_image      360 non-null    object
 6   article_keywords   400 non-null    object
 7   article_relevance  400 non-null    object
 8   Category           112 non-null    object
 9   Country            400 non-null    object
dtypes: object(10)
memory usage: 31.4+ KB
None

In [47]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/FL-Vietnam-EN.csv"
FL_Vietnam_EN= download_data(url,'Vietnam')
print(FL_Vietnam_EN.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           800 non-null    object
 1   article_title      800 non-null    object
 2   article_link       800 non-null    object
 3   article_content    768 non-null    object
 4   publishing_date    800 non-null    object
 5   article_image      774 non-null    object
 6   article_keywords   800 non-null    object
 7   article_relevance  800 non-null    object
 8   category           793 non-null    object
 9   Country            800 non-null    object
dtypes: object(10)
memory usage: 62.6+ KB
None

In [48]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/FF-2012-000189-IDN.csv"
FF_2012_000189_IDN= download_data(url,'India')
print(FF_2012_000189_IDN.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           83 non-null     object
 1   article_title      83 non-null     object
 2   article_link       83 non-null     object
 3   article_content    35 non-null     object
 4   publishing_date    83 non-null     object
 5   article_image      35 non-null     object
 6   article_keywords   83 non-null     object
 7   article_relevance  83 non-null     object
 8   category           83 non-null     object
 9   Country            83 non-null     object
dtypes: object(10)
memory usage: 6.6+ KB
None

In [49]:
url = "https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-4-scraping-newspapers/labelled_data/FF-2016-000062-IDN.csv"
FF_2016_000062_IDN = download_data(url,'India')
print(FF_2016_000062_IDN.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           100 non-null    object
 1   article_title      100 non-null    object
 2   article_link       100 non-null    object
 3   article_content    62 non-null     object
 4   publishing_date    100 non-null    object
 5   article_image      64 non-null     object
 6   article_keywords   100 non-null    object
 7   article_relevance  100 non-null    object
 8   category           100 non-null    object
 9   Country            100 non-null    object
dtypes: object(10)
memory usage: 7.9+ KB
None

In [51]:
#concatenating
df =pd.concat([ FF_2012_000189_IDN,FF_2016_000062_IDN,FL_2021_000025_AUS,
               DR_2021_000022_AFG,DR_2021_000054_SOM,DR_2014_000109_CHN,DR_2015_000134_SOM,DR_2016_000139_LKA,
               DR_2019_000034_LKA,Drought_Ghana_2017_April,Drought_Ghana_2019_Aug,Drought_Ghana_2019_July,
               DR_2011_000121_CHN,DR_2012_000177_LKA,DR_2016_000142_MOZ,FL_2016_000114_EGY,FL_2017_000067_BRA,
               FL_2018_000134_IND,FL_2019_000022_IRN,FL_2019_000084_IND,FL_2019_000179_CAN,FL_2020_000038_EGY,
               FL_2020_000164_IND,FL_2021_000021_IND,FL_2021_000030_IDN,FL_2021_000038_KEN,FL_Brazil_EN,FL_Nigeria_EN,
               FL_Pakistan_EN,FL_Uganda_EN,FL_Vietnam_EN,data_flood_Kenya_Africa,FF_2012_000189_IDN,FF_2016_000062_IDN],ignore_index = True)
df.shape

(4987, 19)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4987 entries, 0 to 4986
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           4987 non-null   object
 1   article_title      4987 non-null   object
 2   article_link       4987 non-null   object
 3   article_content    4508 non-null   object
 4   publishing_date    4941 non-null   object
 5   article_image      4453 non-null   object
 6   article_keywords   4986 non-null   object
 7   article_relevance  4413 non-null   object
 8   category           4021 non-null   object
 9   Country            4987 non-null   object
 10  Unnamed: 10        1 non-null      object
 11  Unnamed: 11        1 non-null      object
 12  Unnamed: 9         0 non-null      float64
 13  Category           316 non-null    object
 14  Unnamed: 12        0 non-null      float64
 15  Unnamed: 13        0 non-null      float64
 16  Unnamed: 14        0 non-null      float64
 17  Unnamed: 15        0 non-null      float64
 18  Unnamed: 16        0 non-null      float64
dtypes: float64(6), object(13)
memory usage: 740.4+ KB

In [53]:
df.to_csv('merged_labeled_newspaper_data.csv')

In [54]:
df.head()

             event_id  ... Unnamed: 16
0  FF-2012-000189-IDN  ...         NaN
1  FF-2012-000189-IDN  ...         NaN
2  FF-2012-000189-IDN  ...         NaN
3  FF-2012-000189-IDN  ...         NaN
4  FF-2012-000189-IDN  ...         NaN

[5 rows x 19 columns]