# Scraper Aggregator

The file will call each scraper individually. We can copy this into a .py file for final implementation, but will keep it in a .ipynb file for ease of dubugging and collaborating to start

### Example

In [1]:
#import function from scraper folder and file (see scraper folder for example file structure)
try:
    from scrapers import Example_scrape
    Example_scrap()
except:
    print('Example_scrape failed')

Example_scrape failed

In [2]:
#import function from scraper folder and file
try:
    from scrapers import Example_scrape
    Example_scrape()
except:
    print('Example_scrape failed')

Hello World

In [3]:
import datetime as dt
import pandas as pd
import time

# Inputs

In [4]:
#Input values here
#date as datetime object
date = dt.datetime.today()

#AND

#longitude as numeric
longitude = None
#latitiude as numeric
latitude = None

#OR

#location name as string
location_name = 'cairo'

output = pd.DataFrame()
success = []
errors = []

# Scraping functions

### OpenWeatherMap - Last 5 days

In [5]:
#scraper only works for last 5 days
if date > dt.datetime.today() - dt.timedelta(days=5):
    try:
        #import function from scraper folder and file
        from scrapers import OpenWeatherMap_5days
        #call function
        openweather = OpenWeatherMap_5days(location_name=location_name, longitude=longitude, latitude=latitude, units='metric')
        
        success.append('OpenWeatherMap_scraper success')
    except:
        #create error statement for if there are issues
        print('OpenWeatherMap_scraper failed')
        errors.append('OpenWeatherMap_scraper failed')
        
output = pd.concat([output,openweather])

In [10]:
output

,date,owm_longitude,owm_latitude,owm_temp,owm_weather_short,owm_weather_long,owm_rain,owm_snow
0,2021-05-26 00:00:00,31.2357,30.0444,296.03,Clear,clear sky,0,0
1,2021-05-26 01:00:00,31.2357,30.0444,295.31,Clear,clear sky,0,0
2,2021-05-26 02:00:00,31.2357,30.0444,293.97,Clear,clear sky,0,0
3,2021-05-26 03:00:00,31.2357,30.0444,293.55,Clear,clear sky,0,0
4,2021-05-26 04:00:00,31.2357,30.0444,294.05,Clear,clear sky,0,0
...,...,...,...,...,...,...,...,...
19,2021-05-21 19:00:00,31.2357,30.0444,298.15,Clear,clear sky,0,0
20,2021-05-21 20:00:00,31.2357,30.0444,297.10,Clear,clear sky,0,0
21,2021-05-21 21:00:00,31.2357,30.0444,296.04,Clear,clear sky,0,0
22,2021-05-21 22:00:00,31.2357,30.0444,295.54,Clear,clear sky,0,0
23,2021-05-21 23:00:00,31.2357,30.0444,294.66,Clouds,scattered clouds,0,0

# Output to Folder
This can be revised to a GCP location later

In [9]:
timestamp = time.strftime('%Y%m%d_%H%M%S')
output.to_csv(path_or_buf='output_to_clean\weatherdata_{}'.format(timestamp))
print(success)
print(errors)

['OpenWeatherMap_scraper success']
[]