# OAuth2.0 by requests

In [ ]:
api_key = 'key_here'
api_secret_key = 'secret_here'

#twitter API requires single key encoded as base64
import base64

key_secret = '{}:{}'.format(api_key, api_secret_key).encode('ascii')
b64_encoded_key = base64.b64encode(key_secret)
b64_encoded_key = b64_encoded_key.decode('ascii')

In [ ]:
# post request to the authentication endpoint
import requests

base_url = 'https://api.twitter.com/'
auth_url = '{}oauth2/token'.format(base_url)

auth_headers = {
    'Authorization': 'Basic {}'.format(b64_encoded_key),
    'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
}

auth_data = {
    'grant_type': 'client_credentials'
}

auth_resp = requests.post(auth_url, headers=auth_headers, data=auth_data)

In [ ]:
access_token = auth_resp.json()['access_token'] # receive bearer token

In [ ]:
# https://developer.twitter.com/en/docs/api-reference-index

search_headers = {
    'Authorization': 'Bearer {}'.format(access_token) # send access token 
}

# search keyword, query limit etc.
search_params = { 
    'q': 'flood',
    'result_type': 'recent',
    'count': 10
}


search_url = '{}1.1/search/tweets.json'.format(base_url)

search_resp = requests.get(search_url, headers=search_headers, params=search_params) # send

In [ ]:
tweet_data = search_resp.json()

In [ ]:
for i, x in enumerate(tweet_data['statuses']):
    print(f'Tweet {i}\n' + x['text'] + '\n')

Tweet 0
RT @Gamzemikaelson: Åžimdi bir flood dÃ¶ÅŸiicem ve poyraz ayÅŸe ve mavilerin zekasÄ±nÄ± anlayacaksÄ±nÄ±z hazÄ±rsanÄ±z baÅŸlÄ±yorum. #ypfc #ayfc #survivâ€¦

Tweet 1
RT @DreyfusShawn: I have a really crazy idea.  How about we donâ€™t flood the IRI with billions of dollars!   I know, I know, itâ€™s nuts but jâ€¦

Tweet 2
RT @SFDYemen: Torrential water catching facilities allowing flood stream into Wadi Thua'a #Modia #Abyan. They, completed 2 weeks ago, raiseâ€¦

Tweet 3
RT @CraigKellyMP: Raise the Warragamba Dam Wall ASAP

Now we know that Prophet Tim Flannery got it wrong when he said "So even the rain thaâ€¦

Tweet 4
it's been picked apart by scientists - run into the ground, researched until the papers flood research stations witâ€¦ https://t.co/zYDOpnYjnG

Tweet 5
RT @KempWatercolour: Flood, watercolour. Sunday morning splash.
#Watercolour #art #painting https://t.co/HGbsqE3Brw

Tweet 6
RT @RealWJWilson: #FixMotherGhana #WeAreAngry #FixTheCountry
Flood is a disaster but in Ghana itâ€™s a festival celebrated every year.

Kasoâ€¦

Tweet 7
When the enemy came against like a flood you raised the standard.

Tweet 8
RT @DailyMail: Florida becomes Covid variant capital of the US with 11,800 cases https://t.co/ECMGxZiinK

Tweet 9
Should we flood fancafe for their 173th day using a same congratulary pic post... ðŸ¥º Or hashtag or idk... I just felâ€¦ https://t.co/CLI2qRWflM

# Tweepy

In [ ]:
# package for easy twitter api access
!pip install tweepy

import pandas as pd # to parse json into tabular
import tweepy

In [ ]:
# ouath login
api_key = 'key_here' # developer key 
api_secret_key = 'secret_here' # developer secret key

callback_uri = 'oob' 

auth = tweepy.OAuthHandler(api_key, api_secret_key, callback_uri) # credentials for authorization
redirect_url = auth.get_authorization_url() # authorization request
print(redirect_url) # access token here

In [ ]:
user_pin = input('Authorization PIN: ') # save access token

In [ ]:
auth.get_access_token(user_pin) # send access token

In [ ]:
api = tweepy.API(auth, wait_on_rate_limit = True, wait_on_rate_limit_notify = True) # create api object for searching keywords, users etc.

In [ ]:
tweets_flood = api.search(q = 'flood', count = 10) # query for flood and limit to ten for example purposes
tweets_flood

In [ ]:
data = {'location':[], 
        'coordinates':[],
        'place':[],
        'tweet':[], 
        'date_time':[],
        'id':[]}

for i in tweets_flood:

    data['location'].append(dict(vars(dict(vars(i))['user']))['location'])
    data['tweet'].append(dict(vars(i))['text'])
    data['date_time'].append(dict(vars(i))['created_at'])
    data['id'].append(dict(vars(i))['id'])
    data['coordinates'].append(dict(vars(i))['coordinates'])
    data['place'].append(dict(vars(i))['place'])
    

df = pd.DataFrame(data)
df

                         location  ...                   id
0                                  ...  1391531519861166080
1                   United States  ...  1391531472302002179
2  ATL Jawjuh What do we do Fo YA  ...  1391531361698258944
3                          Uptown  ...  1391531330056474624
4                    Jard-sur-Mer  ...  1391531318454980610
5                                  ...  1391531226125815810
6                   United States  ...  1391531218479558659
7                                  ...  1391531095510892553
8                       Zeta Halo  ...  1391531090553098243
9                               ðŸ’“  ...  1391531052447981568

[10 rows x 6 columns]