In [2]:
from google.colab import drive

In [2]:
drive.mount('/content/drive/')

Mounted at /content/drive/

In [3]:
%cd /content/drive/MyDrive/

/content/drive/MyDrive

In [4]:
import pandas as pd

In [17]:
df= pd.read_csv('disaster_messages.csv')

In [13]:
df.head()

   id  ...   genre
0   2  ...  direct
1   7  ...  direct
2   8  ...  direct
3   9  ...  direct
4  12  ...  direct

[5 rows x 4 columns]

In [18]:
df_filter = df.drop(columns=['original','genre'], inplace=True)

In [19]:
df.head()

   id                                            message
0   2  Weather update - a cold front from Cuba that c...
1   7            Is the Hurricane over or is it not over
2   8                    Looking for someone but no name
3   9  UN reports Leogane 80-90 destroyed. Only Hospi...
4  12  says: west side of Haiti, rest of the country ...

In [20]:
df.info

<bound method DataFrame.info of           id                                            message
0          2  Weather update - a cold front from Cuba that c...
1          7            Is the Hurricane over or is it not over
2          8                    Looking for someone but no name
3          9  UN reports Leogane 80-90 destroyed. Only Hospi...
4         12  says: west side of Haiti, rest of the country ...
...      ...                                                ...
26243  30261  The training demonstrated how to enhance micro...
26244  30262  A suitable candidate has been selected and OCH...
26245  30263  Proshika, operating in Cox's Bazar municipalit...
26246  30264  Some 2,000 women protesting against the conduc...
26247  30265  A radical shift in thinking came about as a re...

[26248 rows x 2 columns]>

In [24]:
category=[]
for msg in df['message']:
  if 'flood' in msg:
    category.append('flood')
  elif any(x in msg for x in ['flood','drought']):
    category.append('flood_and_drought')
  elif 'drought' in msg:
    category.append('drought')
  else:
    category.append('None')

In [25]:
df['category']= category

In [27]:
df.to_csv('cleanedData.csv')

In [31]:
x= pd.read_csv('cleanedData.csv')
x.head(100)

    Unnamed: 0   id                                            message category
0            0    2  Weather update - a cold front from Cuba that c...     None
1            1    7            Is the Hurricane over or is it not over     None
2            2    8                    Looking for someone but no name     None
3            3    9  UN reports Leogane 80-90 destroyed. Only Hospi...     None
4            4   12  says: west side of Haiti, rest of the country ...     None
..         ...  ...                                                ...      ...
95          95  122  We are about 500 people. We're in Martissant 2...     None
96          96  123       Digicel let me go through, it's an emergency     None
97          97  124              Where can I find Capital Bank please?     None
98          98  125  We are in Plaine du Cul-de-sac. Where's the ne...     None
99          99  126  I am listening to Radio Dabon. We need help an...     None

[100 rows x 4 columns]

In [44]:
x[x.category != 'None'].to_csv('clean.csv')

In [61]:
clean=pd.read_csv('clean.csv')
clean.head()

   Unnamed: 0  ...  category
0        3406  ...     flood
1        4833  ...     flood
2        5525  ...     flood
3        7076  ...     flood
4        7080  ...     flood

[5 rows x 5 columns]

In [65]:
clean_filter= clean.drop(columns=['Unnamed: 0','Unnamed: 0.1'], inplace=True)

In [73]:
clean.info

<bound method DataFrame.info of                                                 message           category
0     People at Grand saline and Le Lambi are asking...              flood
1     I was flooded in Port-au-Prince. Now I live in...              flood
2     The school announced that they will resume on ...              flood
3     Emergency, aux cayes is flooding, they needs h...              flood
4     Please,I need the phone number the civil prote...              flood
...                                                 ...                ...
1495  One of the first organizations to respond to t...              flood
1496  Production shortfalls in the wake of the droug...  flood_and_drought
1497  The tendency to link deforestation with large ...              flood
1498  Following the severe floods which occurred ove...              flood
1499  BANGKOK, 24 January 2012 (NNT) - Prime Ministe...              flood

[1500 rows x 2 columns]>

In [74]:
clean.to_csv('processedData.csv')