In [1]:
import pandas as pd
import numpy as np

In [2]:
#reading in the historical data collected by data-collection-team
historical_disasters = pd.read_csv('../task-7-data-collection-historical-events/sample_historical_events_2021-05-13.csv')

In [3]:
historical_disasters.shape

(350, 9)

In [4]:
historical_disasters['event'].value_counts()

FLOOD      262
DROUGHT     88
Name: event, dtype: int64

In [5]:
historical_disasters.head()

,event_id,dataset_source,event,date,country,name_adm1,name_adm2,name_adm3,locality
0,b'uc59Kcgo0NTLVAfPCi5Y',desinventar,FLOOD,2016-01-06,Albania,Lezhë,Lezhës,Zejmen,Qarku Lezhë
1,b'VnwOOAzhJidBjM-x_Jji',desinventar,FLOOD,2016-01-06,Albania,Tiranë,Tiranës,Tiranë,Qarku Tiranë
2,b'tiMgVWj_rEw8hAfQK4aw',desinventar,FLOOD,2016-01-07,Albania,Tiranë,Tiranës,Tiranë,Qarku Tiranë
3,b'sFueDHH2UedqZjtACVT3',desinventar,FLOOD,2016-01-07,Albania,Tiranë,Tiranës,Ndroq,Qarku Tiranë
4,b'dcn4PAAyX01gyL2nnFXV',desinventar,FLOOD,2016-01-07,Albania,Tiranë,Tiranës,Tiranë,Qarku Tiranë

In [6]:
historical_flood_desinventar = historical_disasters[historical_disasters['event']=='FLOOD']['country'].drop_duplicates().values.tolist()
historical_flood_desinventar

['Albania',
 'Angola',
 'Barbados',
 'Cambodia',
 'Colombia',
 'Costa Rica',
 'Ecuador',
 'Egypt',
 'Equatorial Guinea',
 'Eswatini',
 'Ethiopia',
 'Gambia',
 'Ghana',
 'Jamaica',
 'Jordan',
 'Kenya',
 'Liberia',
 'Madagascar',
 'Malawi',
 'Montenegro',
 'Mozambique',
 'Myanmar',
 'Niger',
 'Panama',
 'Paraguay',
 'Senegal',
 'Serbia',
 'Spain',
 'Sri Lanka',
 'Timor Leste',
 'Uganda',
 'United Republic  of Tanzania',
 'Zambia']

In [7]:
historical_drought_desinventar = historical_disasters[historical_disasters['event']=='DROUGHT']['country'].drop_duplicates().values.tolist()
historical_drought_desinventar

['Angola',
 'Cambodia',
 'Colombia',
 'Costa Rica',
 'Ethiopia',
 'Ghana',
 'Indonesia',
 'Kenya',
 'Myanmar',
 'Niger',
 'Paraguay',
 'Serbia',
 'Sri Lanka',
 'Timor Leste',
 'Uganda',
 'United Republic  of Tanzania']

In [8]:
historical_disasters[historical_disasters['country']=='Kenya']

,event_id,dataset_source,event,date,country,name_adm1,name_adm2,name_adm3,locality
163,b'ZVpumVXEA1m9K_ojcx6I',desinventar,DROUGHT,2020-04-02,Kenya,NAROK,NaN,NaN,Eneralai
164,b'o4KNYpHReRZoHzEGbwzW',desinventar,DROUGHT,2020-04-06,Kenya,HOMABAY,NaN,NaN,Itajo village
165,b'6_D7ct-FUVaY6v2H01HD',desinventar,DROUGHT,2020-04-06,Kenya,NAROK,NaN,NaN,Ekiwanja area
166,b'QJPQnjDJgHiO_tkrR0A5',desinventar,DROUGHT,2020-12-04,Kenya,MIGORI,NaN,NaN,Radienya area
167,b'TfhcjtNORVVw5cUwu3jJ',desinventar,FLOOD,2016-01-18,Kenya,TANA-RIVER,NaN,NaN,NaN
168,b't7iPdJYtiZOEmwpsMv1j',desinventar,FLOOD,2016-03-17,Kenya,KEIYO-MARAKWET,NaN,NaN,Kapsowar Anin and Aror
169,b'jCbJ26kuhJxZ6SFfwbPl',desinventar,FLOOD,2020-02-07,Kenya,NaN,NaN,NaN,Nairobi-Mombasa rd
170,b'Lcp7wwogySmc9HikGj5Y',desinventar,FLOOD,2020-03-05,Kenya,KISUMU,NaN,NaN,Ugwe sub-location
171,b'm1T9hdm7hEm5HDkJiAGD',desinventar,FLOOD,2020-12-01,Kenya,NAROK,NaN,NaN,Emarti location
172,b'zQLwlNdh77ZkfrTs2zyf',desinventar,FLOOD,2016-05-18,Kenya,MIGORI,NaN,NaN,migori
173,b'6kiHxqndQGxwLQP3EnFp',desinventar,FLOOD,2016-06-17,Kenya,NAIROBI,NaN,NaN,Kamiti Prison
174,b'z6qjRyq48elDTB-DMcgV',desinventar,FLOOD,2016-03-22,Kenya,NAROK,NaN,NaN,Narok
175,b'XBiJAMe-hO2KEXknXpRK',desinventar,FLOOD,2020-05-02,Kenya,BUSIA,NaN,NaN,Amoni location
176,b'BQBzJMF6KEyMXLSHIpIH',desinventar,FLOOD,2020-04-27,Kenya,SIAYA,NaN,NaN,Karamogi B and Gedra village

In [11]:
# countries covered in google news in English
gn_en_list = pd.read_csv('./Countries and languages supported by gn/gn_english.txt',sep='\t')
gn_en_list.fillna(value='English',inplace=True)
gn_en_list.shape

(24, 2)

In [13]:
#countries covered in google news in other languages (if covered in English and other language, only English is taken)
gn_other_list = pd.read_csv('./Countries and languages supported by gn/gn_other_languages.txt',sep='\t')
gn_other_list.shape

(44, 2)

In [14]:
gn_countries = gn_en_list.append(gn_other_list,ignore_index=True)
gn_countries['News_source'] = 'Google News'
gn_countries.shape

(68, 3)

In [16]:
all_countries = pd.read_csv('./Countries and languages supported by gn/all_countries.txt',sep='\t',dtype={'Country':'str','Language':'str','News_source':'str'})
all_countries.shape

(193, 3)

In [17]:
#The names of following countries are different/not present in all countries list
gn_countries[~gn_countries['Country'].isin(all_countries['Country'])]

Empty DataFrame
Columns: [Country, Language, News_source]
Index: []

In [18]:
# joining both the dataframes
all_countries = pd.concat([gn_countries,all_countries])
all_countries.drop_duplicates(subset='Country',inplace=True,keep='first')
all_countries.shape

(193, 3)

In [19]:
all_countries

        Country Language  News_source
0     Australia  English  Google News
1      Botswana  English  Google News
2        Canada  English  Google News
3      Ethiopia  English  Google News
4         Ghana  English  Google News
..          ...      ...          ...
185     Uruguay      NaN          NaN
186  Uzbekistan      NaN          NaN
187     Vanuatu      NaN          NaN
190       Yemen      NaN          NaN
191      Zambia      NaN          NaN

[193 rows x 3 columns]

In [20]:
# WRI (World Resources Institute) list of 15 countries most affected by floods. 
# It accounts for 80% of population exposed to river flood risk
# https://www.wri.org/insights/worlds-15-countries-most-people-exposed-river-floods
wri_flood_countries = ['India','Bangladesh','China','Vietnam','Pakistan','Indonesia','Egypt','Myanmar','Afghanistan','Nigeria','Brazil','Thailand','Congo (Republic of the)','Iraq','Cambodia']

In [21]:
all_countries['WRI_flood_list'] = all_countries['Country'].apply(lambda x:x in wri_flood_countries)

In [22]:
# List of countries covered by google news
all_countries[(all_countries['News_source']=='Google News') & (all_countries['Language']!='English')]

                 Country     Language  News_source  WRI_flood_list
24             Argentina      Spanish  Google News           False
25               Austria       German  Google News           False
26            Bangladesh       Bangla  Google News            True
27               Belgium       French  Google News           False
28                Brazil   Portuguese  Google News            True
29              Bulgaria    Bulgarian  Google News           False
30                 Chile      Spanish  Google News           False
31                 China      Chinese  Google News            True
32              Colombia      Spanish  Google News           False
33                  Cuba      Spanish  Google News           False
34        Czech Republic      Čeština  Google News           False
35                 Egypt       Arabic  Google News            True
36                France       French  Google News           False
37               Germany       German  Google News           False
38                Greece        Greek  Google News           False
39               Hungary       Magyar  Google News           False
41                 Italy      Italian  Google News           False
42                 Japan     Japanese  Google News           False
43               Lebanon       Arabic  Google News           False
44             Lithuania     Lietuvių  Google News           False
45                Mexico      Spanish  Google News           False
46               Morocco       French  Google News           False
47           Netherlands        Dutch  Google News           False
48                Norway        Norsk  Google News           False
49                  Peru      Spanish  Google News           False
50                Poland       Polish  Google News           False
51              Portugal   Portuguese  Google News           False
52               Romania       Română  Google News           False
53                Russia      Russian  Google News           False
54          Saudi Arabia       Arabic  Google News           False
55               Senegal       French  Google News           False
56                Serbia      Serbian  Google News           False
57              Slovakia   Slovenčina  Google News           False
58              Slovenia  Slovenščina  Google News           False
59           South Korea       Korean  Google News           False
60                Sweden      Swedish  Google News           False
61           Switzerland       German  Google News           False
62              Thailand         Thai  Google News            True
63                Turkey      Turkish  Google News           False
64               Ukraine      Russian  Google News           False
65  United Arab Emirates       Arabic  Google News           False
66             Venezuela      Spanish  Google News           False
67               Vietnam   Vietnamese  Google News            True

In [23]:
# List of countries in WRI flood list
all_countries[all_countries['WRI_flood_list']==True]

                     Country    Language  News_source  WRI_flood_list
5                      India     English  Google News            True
6                  Indonesia     English  Google News            True
14                   Nigeria     English  Google News            True
15                  Pakistan     English  Google News            True
26                Bangladesh      Bangla  Google News            True
28                    Brazil  Portuguese  Google News            True
31                     China     Chinese  Google News            True
35                     Egypt      Arabic  Google News            True
62                  Thailand        Thai  Google News            True
67                   Vietnam  Vietnamese  Google News            True
0                Afghanistan         NaN          NaN            True
28                  Cambodia         NaN          NaN            True
38   Congo (Republic of the)         NaN          NaN            True
78                      Iraq         NaN          NaN            True
115                  Myanmar         NaN          NaN            True

In [24]:
# World Atlas list of 10 most drought prone countries of the world 
# https://www.worldatlas.com/articles/the-most-drought-prone-countries-in-the-world.html
wa_drought_countries = ['Ethiopia','Sudan','Eritrea','Afghanistan','China','Pakistan','Iran','Somalia','Uganda','Morocco']

In [25]:
all_countries['WA_drought_list'] = all_countries['Country'].apply(lambda x:x in wa_drought_countries)

In [26]:
# List of countries in World Atlas list
all_countries[all_countries['WA_drought_list']==True]

         Country Language  News_source  WRI_flood_list  WA_drought_list
3       Ethiopia  English  Google News           False             True
15      Pakistan  English  Google News            True             True
19        Uganda  English  Google News           False             True
31         China  Chinese  Google News            True             True
46       Morocco   French  Google News           False             True
0    Afghanistan      NaN          NaN            True             True
54       Eritrea      NaN          NaN           False             True
77          Iran      NaN          NaN           False             True
156      Somalia      NaN          NaN           False             True
162        Sudan      NaN          NaN           False             True

In [23]:
all_countries['historical_flood_desinventar'] = all_countries['Country'].apply(lambda x:x in historical_flood_desinventar)
all_countries

,Country,Language,News_source,WRI_flood_list,WA_drought_list,historical_flood_desinventar
0,Australia,English,Google News,False,False,False
1,Botswana,English,Google News,False,False,False
2,Canada,English,Google News,False,False,False
3,Ethiopia,English,Google News,False,True,True
4,Ghana,English,Google News,False,False,True
...,...,...,...,...,...,...
185,Uruguay,NaN,NaN,False,False,False
186,Uzbekistan,NaN,NaN,False,False,False
187,Vanuatu,NaN,NaN,False,False,False
190,Yemen,NaN,NaN,False,False,False
191,Zambia,NaN,NaN,False,False,True

In [24]:
all_countries['historical_drought_desinventar'] = all_countries['Country'].apply(lambda x:x in historical_drought_desinventar)
all_countries

,Country,Language,News_source,WRI_flood_list,WA_drought_list,historical_flood_desinventar,historical_drought_desinventar
0,Australia,English,Google News,False,False,False,False
1,Botswana,English,Google News,False,False,False,False
2,Canada,English,Google News,False,False,False,False
3,Ethiopia,English,Google News,False,True,True,True
4,Ghana,English,Google News,False,False,True,True
...,...,...,...,...,...,...,...
185,Uruguay,NaN,NaN,False,False,False,False
186,Uzbekistan,NaN,NaN,False,False,False,False
187,Vanuatu,NaN,NaN,False,False,False,False
190,Yemen,NaN,NaN,False,False,False,False
191,Zambia,NaN,NaN,False,False,True,False

In [25]:
# List of countries in the historical flood list
all_countries[all_countries['Language']=='English']

,Country,Language,News_source,WRI_flood_list,WA_drought_list,historical_flood_desinventar,historical_drought_desinventar
0,Australia,English,Google News,False,False,False,False
1,Botswana,English,Google News,False,False,False,False
2,Canada,English,Google News,False,False,False,False
3,Ethiopia,English,Google News,False,True,True,True
4,Ghana,English,Google News,False,False,True,True
5,India,English,Google News,True,False,False,False
6,Indonesia,English,Google News,True,False,False,True
7,Ireland,English,Google News,False,False,False,False
8,Israel,English,Google News,False,False,False,False
9,Kenya,English,Google News,False,False,True,True
10,Latvia,English,Google News,False,False,False,False
11,Malaysia,English,Google News,False,False,False,False
12,Namibia,English,Google News,False,False,False,False
13,New Zealand,English,Google News,False,False,False,False
14,Nigeria,English,Google News,True,False,False,False
15,Pakistan,English,Google News,True,True,False,False
16,Philippines,English,Google News,False,False,False,False
17,Singapore,English,Google News,False,False,False,False
18,South Africa,English,Google News,False,False,False,False
19,Uganda,English,Google News,False,True,True,True
20,United Kingdom,English,Google News,False,False,False,False
21,United Republic of Tanzania,English,Google News,False,False,False,False
22,United States,English,Google News,False,False,False,False
23,Zimbabwe,English,Google News,False,False,False,False

In [26]:
glide_historical_disasters = pd.read_csv('../task-7-data-collection-historical-events/glide_historical_events.csv')

In [27]:
glide_historical_disasters.shape

(750, 8)

In [28]:
glide_historical_disasters[glide_historical_disasters['Country'] == 'Kenya ']['Comments'].values

array(['According to the Kenya Meteorological Department (KMD), the Climate Outlook for the 2021 March-April-May “Long Rains” season indicates that several parts of the country will experience enhanced rainfall while North Eastern parts of the country will receive below-average rainfall. Based on the state of the Ocean and the early onset, KMD has been issuing heavy rainfall advisories with the most recent being 19 April 2021 . The advisory indicated that heavy rainfall was expected over North East, South East, the Coastal Regions of Kenya, Western and Central regions including Nairobi Area. As predicted, from mid-March heavy rainfalls have been experienced in the country with the Western parts of the country being the most affected through displacement of populations and disruption of livelihoods. Tana River county has received moderate rains but some parts have been affected by flash floods due to waters from the rains upstream ',
       'Heavy rains from early October have had detrimental effects in Northern, Western, South eastern and Coastal parts of the country which has so far have seen most displacements from the floods.  ',
       'The effects of below average 2018 October-November-December (OND) short rains season continue to be experienced in many parts of the country. The effect of short and erratic rainfall compounded with pre-existing fragile coping capacity, the food security situation has deteriorated in many counties of the country. The National Disaster Management Authority (NDMA) bulletins for January 2019 indicates that 16 counties (West Pokot, Tharaka Nithi, Samburu, Nyeri (Kieni), Marsabit, Mandera, Lamu, Laikipia, Kitui, Kilifi, Isiolo, Garissa, Embu, Baringo, Turkana and Wajir) are currently experiencing increasing Stressed food insecurity (IPC2) with the situation worsening as a result of ongoing effects of the drought. Wajir County is the worst affected in the country with Turkana, Marsabit, Baringo, Samburu and Garissa also experiencing significant deterioration in the food security. Some communities in these affected counties are already in IPC 3 with the situation projected to further deteriorate. According to the SRA 2018 drought season, 800,000 people are currently in Crisis IPC 3 and require immediate food assistance. An additional 5.4 million people are currently in IPC 2 and face a risk of sliding into IPC 3 should the situation continue to deteriorate.  ',
       'Heavy rain has been affecting the central, the south-west and south-east areas of the country, including also the capital Nairobi, since the beginning of the month, causing floods, flash floods and casualties. According to media, as of 20 March, the death toll has reached at least 15 people in the provinces of Central, Nyanza and Eastern. They also reported, as of the same date, that around 1 000 people were evacuated in the counties of Makueni (Eastern province), Kilifi and Tana (Coast province).  ',
       'Raging floods, which have killed 26 people and forced almost 25,000 from their homes in Kenya this month, will exacerbate hunger and poverty among herders who have already lost livestock to the worst drought in five years, charities warned. ',
       'Available secondary source documents analyzed indicate that food security situation is wanting in 19 arid and semi-arid counties in the country. There are indications that the situation is likely to worsen further by January 2017. During the long rains season between March and May 2016, there was heavy flooding of River Tana, which washed away crops and delayed planting amongst the communities living along the river in Garissa and Tana River, resulting in reduced household level food security and dietary intake. Farming communities in marginal agricultural areas continue to have typically low income due to the recent below average agricultural season. As the lean season progresses these communities will continue to rely on the markets for food access. Short rains are the primary production season in these areas, it is expected that poor performance is likely to exacerbate household acute food insecurity with more households moving to even crisis levels.  ',
       "Most ASAL counties are experiencing some degree of drought stress as the dry season draws to a close. Areas in the south-east and the coast are the most affected since they received below-average rainfall during the long rains season. One county (Kilifi) is in the alarm drought phase, while all others are in alert or normal, with a generally worsening trend. In parts of Kilifi, Garissa, Lamu, Kwale, Taita Taveta, Tana River, Makueni, Kajiado, Narok and Marsabit there are now significant shortages of pasture and water, and in some cases livestock mortality. The food insecurity situation is exacerbated by conflict in some counties, the most serious case in the previous month (September) being along the borders of Isiolo and Garissa where pastoralists' convergence is common. The prospects for the coming months will be determined by the onset and performance of the short rains season. If the season is below average, as currently forecast, or its onset is late, then the drought situation will become significantly worse, with impacts on health and nutrition, household purchasing power, and security. The implications of a poor season are particularly worrying for the marginal agricultural counties which are short rains-dependent. The NDMA in collaboration with county governments and other stakeholders has activated drought contingency plans in seven counties and is supporting all counties to coordinate their response and plan for a possible La Niña event. ",
       'Heavy rainfall has been observed in various parts of the country over the last few days. Nairobi County has so far seen the worst effects of the rains that have affected a total of approximately 792HHs due to flooding in the various estates and has also led to a collapse of one residential building in Huruma. As at the time of this Sitrep, 16 deaths had been confirmed and 135 people injured and treated for multiple type injuries.  ',
       'Heavy rainfall has caused floodings in the west and parts of the Rift Valley, central highlands, southeastern lowlands and the coastal region. Garissa and Tana River are particularly affected with more than 100,000 people displaced. ',
       'Torrential rainfall since early April has triggered localized flooding in several parts of Kenya, livestock losses, displacement of thousands of people, and fatalities in parts of southern Kenya. Average to above-average rains forecast for the next week may worsen ground conditions.  ',
       "Due to the poor performance of the long rains between the months of March and May 2014 in the Arid and Semi-Arid Lands in Kenya, the drought situation has continued to affect both pastoral and marginal agriculture livelihood zones (the North Western, Northern, North Eastern, South Eastern and parts of Coast). The drought situation is affecting households' food availability as well as livestock productivity. The situation has continued to worsen due to the increase in food prices which has continually eroded household purchasing power driven by increase in fuel costs, and general inflation. Through the launch of this appeal, IFRC will support the Kenya Red Cross Society to assist 649,175 persons affected by the drought situation for a period of 9 months. ",
       'Heavy rainfall as part of the Long Rains season caused flooding in several parts of Kenya from the middle of March 2013 onward, especially in the Coast and Western regions. The hardest-hit areas include Tana River County, with almost 1,200 households affected, and parts of the West, where floods caused displacement and destruction of property and livelihoods. ',
       'The enhanced rains started in December 2012 and as per the current KMET forecasts the situation will continue till mid-January 2013. In Rift Valley the affected areas of Keiyo South and Pokot South districts are on the slopes with little vegetation cover. Nyando District within Nyanza province is located in the low lying Kano plains which receive flood water from the highlands of Rift Valley. The level of resilience of the residents in these affected locations has been weakened by the recent enhanced volume of precipitation within the country. A total of 2,156 households were affected with 939 households in Nyanza and 1,217 Households in Rift Valley. A total of 13 people have so far died, 765 displaced and 5 people still missing as a result of the disaster.  ',
       'At least 17 people died and more than 58,000 were affected by flash floods across the country. ',
       'The expected October-November- December (OND) short rains has so far been characterized by heavy rainfall and storm in various parts of North Eastern, Coast, Upper Eastern, North Rift, South Rift and Western regions of Kenya. The Kenya Meteorological Department (KMED) reports that wet conditions have been sustained in most parts of the country with heavy daily rainfall (greater than 20mm) being experienced in various parts of the country  ',
       'Heavy rains have been experienced in northwestern Kenya with several cases of flash flooding in Kisumu East, Nyando, and Turkana districts reported. Around Kakuma, an estimated 60,000 people experienced flooding for a 48-hour period with water sources, latrines and homes damaged. '],
      dtype=object)

In [29]:
glide_historical_disasters['Event'].value_counts()

Flood           597
Flash Flood      82
Drought          71
Name: Event, dtype: int64

In [30]:
# comparing the Glide and desinventar datasets
historical_disasters[historical_disasters['country']=='Indonesia']

,event_id,dataset_source,event,date,country,name_adm1,name_adm2,name_adm3,locality
139,b'yJTosE--ulRvTx6gvVnT',desinventar,DROUGHT,2017-09-15,Indonesia,JAWA TIMUR,LAMONGAN,NaN,NaN
140,b'L6MQ44qM3AUfwtWdIkJ6',desinventar,DROUGHT,2017-10-03,Indonesia,JAWA TENGAH,PEKALONGAN,NaN,NaN
141,b'KEvN7lNYbKD5ns-h4z4N',desinventar,DROUGHT,2019-05-01,Indonesia,JAWA TENGAH,KLATEN,NaN,NaN
142,b'QHNddntXPX__-yxLI-9p',desinventar,DROUGHT,2019-06-01,Indonesia,JAWA TENGAH,BLORA,NaN,NaN
143,b'tN_-5t_nJ2KZAy87qoy0',desinventar,DROUGHT,2019-06-24,Indonesia,JAWA TENGAH,KOTA SEMARANG,NaN,NaN
144,b'6LO7GeiijBvlKAmkkrkN',desinventar,DROUGHT,2019-06-24,Indonesia,JAWA TENGAH,SUKOHARJO,NaN,NaN
145,b'oAvgBxeMOxDX4R4TPmce',desinventar,DROUGHT,2019-06-24,Indonesia,JAWA TENGAH,PATI,NaN,NaN
146,b'rGplcMV3EmfNUc8oHPRa',desinventar,DROUGHT,2019-06-24,Indonesia,JAWA TENGAH,JEPARA,NaN,NaN
147,b'G5fAPO527C0VZtnWH9vf',desinventar,DROUGHT,2019-06-28,Indonesia,JAWA BARAT,CIAMIS,NaN,NaN
148,b'UTSt5Us3Rhh5NuPNmOkd',desinventar,DROUGHT,2019-07-14,Indonesia,JAWA BARAT,KARAWANG,NaN,NaN

In [36]:
glide_historical_disasters[glide_historical_disasters['Country']=='Kenya ']

,GLIDEnumber,Event,Country,Date,Country Code,Location,Duration,Comments
9,FL-2021-000038-KEN,Flood,Kenya,2021/4/16,KEN,"West kenya, Coast, North Kenya",,According to the Kenya Meteorological Departme...
112,FL-2019-000138-KEN,Flood,Kenya,2019/10/1,KEN,,,Heavy rains from early October have had detrim...
163,DR-2019-000024-KEN,Drought,Kenya,2019/1/1,KEN,Nationwide,,The effects of below average 2018 October-Nove...
224,FF-2018-000030-KEN,Flash Flood,Kenya,2018/3/20,KEN,"Eastern, Central, Nyanza, Coast provinces",15,"Heavy rain has been affecting the central, the..."
280,FL-2017-000051-KEN,Flood,Kenya,2017/5/1,KEN,,,"Raging floods, which have killed 26 people and..."
314,DR-2016-000118-KEN,Drought,Kenya,2016/11/22,KEN,,,Available secondary source documents analyzed ...
317,DR-2016-000113-KEN,Drought,Kenya,2016/11/3,KEN,,,Most ASAL counties are experiencing some degre...
352,FL-2016-000042-KEN,Flood,Kenya,2016/4/29,KEN,,,Heavy rainfall has been observed in various pa...
372,FL-2015-000169-KEN,Flood,Kenya,2015/12/16,KEN,,,Heavy rainfall has caused floodings in the wes...
432,FL-2015-000049-KEN,Flood,Kenya,2015/4/17,KEN,,,Torrential rainfall since early April has trig...
466,DR-2014-000131-KEN,Drought,Kenya,2014/9/24,KEN,,,Due to the poor performance of the long rains ...
581,FL-2013-000038-KEN,Flood,Kenya,2013/4/2,KEN,,,Heavy rainfall as part of the Long Rains seaso...
596,FL-2013-000004-KEN,Flood,Kenya,2013/1/11,KEN,,,The enhanced rains started in December 2012 an...
671,FF-2012-000062-KEN,Flash Flood,Kenya,2012/4/6,KEN,,,"At least 17 people died and more than 58,000 w..."
700,FL-2011-000184-KEN,Flood,Kenya,2011/12/10,KEN,,,The expected October-November- December (OND) ...
736,FL-2011-000115-KEN,Flood,Kenya,2011/8/16,KEN,,,Heavy rains have been experienced in northwest...

In [34]:
(glide_historical_disasters['Country']=='Kenya ')

0      False
1      False
2      False
3      False
4      False
       ...
745    False
746    False
747    False
748    False
749    False
Name: Country, Length: 750, dtype: bool

In [33]:
glide_historical_disasters['Country'].tolist()

['Tajikistan ',
 'Somalia ',
 'Ethiopia ',
 'Somalia ',
 'Afghanistan ',
 'Rwanda ',
 'Georgia ',
 'Yemen ',
 'Burundi ',
 'Kenya ',
 'Haiti ',
 'East Timor ',
 'Indonesia ',
 'Australia ',
 'Algeria ',
 'Afghanistan ',
 'India ',
 'Peru ',
 'Syrian Arab Rep ',
 'Indonesia ',
 'Indonesia ',
 'Malaysia ',
 'Colombia ',
 'Zambia ',
 'Sri Lanka ',
 'Madagascar ',
 'Somalia ',
 "Lao People's Democratic Republic ",
 'Cambodia ',
 'Viet Nam ',
 'Viet Nam ',
 'Nigeria ',
 'Congo Democratic Republic ',
 'Tunisia ',
 'Ethiopia ',
 'Guinea ',
 'Burkina Faso ',
 'Mauritania ',
 'Senegal ',
 'Nigeria ',
 'Cameroon ',
 'South Sudan ',
 'Chad ',
 'Afghanistan ',
 'Niger ',
 'Korea Republic ',
 'Pakistan ',
 "China, People's Republic ",
 'Indonesia ',
 'Sudan ',
 'Georgia ',
 'Myanmar ',
 'Armenia ',
 'Indonesia ',
 'Mongolia ',
 'Mauritania ',
 'Bangladesh ',
 'Nepal ',
 'India ',
 'Bangladesh ',
 'Japan ',
 'Serbia ',
 'Malaysia ',
 'Ukraine ',
 "Cote d'Ivoire ",
 'Bosnia-Herzegovina ',
 'Burkina Faso ',
 "China, People's Republic ",
 'Indonesia ',
 'Tajikistan ',
 'Burundi ',
 'Uganda ',
 'Kazakhstan ',
 'Ethiopia ',
 'Tanzania ',
 'Yemen ',
 'Sri Lanka ',
 "Lao People's Democratic Republic ",
 'Somalia ',
 'Burundi ',
 'Djibouti ',
 'Congo Democratic Republic ',
 'Afghanistan ',
 'Sri Lanka ',
 'Egypt ',
 'Rwanda ',
 'Bolivia ',
 'Peru ',
 'Argentina ',
 'Tanzania ',
 'Madagascar ',
 'Viet Nam ',
 'East Timor ',
 'Mozambique ',
 'Zambia ',
 'Iran, Islamic Republic ',
 'United States ',
 'United States ',
 'United States ',
 'Indonesia ',
 'Indonesia ',
 'Canada ',
 'Sri Lanka ',
 'Rwanda ',
 'Burundi ',
 'Uganda ',
 'Malaysia ',
 'Djibouti ',
 'Congo, Republic ',
 'Djibouti ',
 'Congo Democratic Republic ',
 'Tanzania ',
 'Kenya ',
 'El Salvador ',
 'Ghana ',
 'Cameroon ',
 'Somalia ',
 "Cote d'Ivoire ",
 'Indonesia ',
 'Nigeria ',
 'Philippines ',
 'Cameroon ',
 'Senegal ',
 'Sudan ',
 'Ethiopia ',
 'Philippines ',
 'Cambodia ',
 'Mauritania ',
 'Chad ',
 'Thailand ',
 "Lao People's Democratic Republic ",
 'Niger ',
 'Mali ',
 'Central African Republic ',
 'Japan ',
 'Guatemala ',
 'Nigeria ',
 'Viet Nam ',
 'Sierra Leone ',
 'Pakistan ',
 'India ',
 'Nepal ',
 'Myanmar ',
 'Bangladesh ',
 'Hungary ',
 'Viet Nam ',
 'Uganda ',
 'Sudan ',
 'South Sudan ',
 'Tajikistan ',
 'Indonesia ',
 'Yemen ',
 'Serbia ',
 'Libyan Arab Jamah ',
 'Tanzania ',
 'Georgia ',
 "Korea, Democratic People's Republic ",
 'Sri Lanka ',
 'Paraguay ',
 'Bolivia ',
 'Syrian Arab Rep ',
 'Iraq ',
 'Indonesia ',
 'Kenya ',
 'Iran, Islamic Republic ',
 'Colombia ',
 'Afghanistan ',
 'Peru ',
 'Malawi ',
 'Indonesia ',
 'Argentina ',
 'United States ',
 'Zimbabwe ',
 'Pakistan ',
 'Sri Lanka ',
 'Paraguay ',
 'Viet Nam ',
 'Iraq ',
 'Russia ',
 'Trinidad & Tobago ',
 'Costa Rica ',
 'Costa Rica ',
 'Tunisia ',
 'Ghana ',
 "Korea, Democratic People's Republic ",
 'Madagascar ',
 'Mali ',
 'India ',
 'Thailand ',
 'Sudan ',
 'Cambodia ',
 'Myanmar ',
 'Viet Nam ',
 'Nigeria ',
 "Lao People's Democratic Republic ",
 'Georgia ',
 'Nicaragua ',
 'Trinidad & Tobago ',
 'Guatemala ',
 'Niger ',
 'El Salvador ',
 'Bangladesh ',
 'Mongolia ',
 'Japan ',
 'Indonesia ',
 "Cote d'Ivoire ",
 'Viet Nam ',
 'Bangladesh ',
 "China, People's Republic ",
 'Tajikistan ',
 'Congo Democratic Republic ',
 'Mauritania ',
 'Sri Lanka ',
 'Colombia ',
 'Burundi ',
 'Afghanistan ',
 "China, People's Republic ",
 "China, People's Republic ",
 'Russia ',
 'Tanzania ',
 'Ethiopia ',
 'Somalia ',
 'Belarus ',
 'Uruguay ',
 'Kenya ',
 'Rwanda ',
 'Botswana ',
 'Mozambique ',
 'France ',
 'Bolivia ',
 'Argentina ',
 'Congo Democratic Republic ',
 'United States ',
 'United States ',
 'Albania ',
 'Maldives ',
 'Greece ',
 'Malaysia ',
 'Colombia ',
 'Guatemala ',
 'Honduras ',
 'Viet Nam ',
 'Viet Nam ',
 'Costa Rica ',
 'Afghanistan ',
 'Togo ',
 'Liberia ',
 'Ethiopia ',
 'South Sudan ',
 'Central African Republic ',
 'Guatemala ',
 'Nigeria ',
 'Cameroon ',
 'Viet Nam ',
 'Pakistan ',
 'Mali ',
 'Bangladesh ',
 'Nepal ',
 'Viet Nam ',
 "China, People's Republic ",
 'Thailand ',
 'Ghana ',
 'Myanmar ',
 'Malawi ',
 'Sudan ',
 "Korea, Democratic People's Republic ",
 'India ',
 'Guinea ',
 'Japan ',
 'Tajikistan ',
 'Niger ',
 "China, People's Republic ",
 'Brazil ',
 'Indonesia ',
 'India ',
 'Taiwan (China) ',
 'Sri Lanka ',
 'Burkina Faso ',
 'Thailand ',
 'Russia ',
 'Kenya ',
 'Bangladesh ',
 'Haiti ',
 'Kazakhstan ',
 'Argentina ',
 'Iran, Islamic Republic ',
 'Peru ',
 'Namibia ',
 'Botswana ',
 'South Africa ',
 'Zimbabwe ',
 'Peru ',
 'Pakistan ',
 'Peru ',
 'Mozambique ',
 'Philippines ',
 'Thailand ',
 'Malaysia ',
 'United States ',
 'United States ',
 'United States ',
 'United States ',
 'Mozambique ',
 'Sri Lanka ',
 'Argentina ',
 'Malaysia ',
 'Nepal ',
 'Viet Nam ',
 'Saint Vincent & The Grenadines ',
 'Congo Democratic Republic ',
 'Dominican Republic ',
 'Serbia ',
 '(Non-Localized) ',
 '(Non-Localized) ',
 'Kenya ',
 'Albania ',
 'Egypt ',
 'Kenya ',
 'Indonesia ',
 'Senegal ',
 "Korea, Democratic People's Republic ",
 'India ',
 "Lao People's Democratic Republic ",
 'Myanmar ',
 'Niger ',
 'Senegal ',
 'Senegal ',
 'Mali ',
 'Philippines ',
 'Guatemala ',
 'Burkina Faso ',
 'Macedonia ',
 'Bhutan ',
 'Bangladesh ',
 'Sudan ',
 'Liberia ',
 'Nepal ',
 'Pakistan ',
 "China, People's Republic ",
 'Japan ',
 'Indonesia ',
 'Russia ',
 'India ',
 'Myanmar ',
 'United States ',
 'Haiti ',
 'Sri Lanka ',
 'East Timor ',
 'Somalia ',
 'Somalia ',
 'Ethiopia ',
 "China, People's Republic ",
 'Kenya ',
 'Uruguay ',
 'Saudi Arabia ',
 'Iran, Islamic Republic ',
 'Yemen ',
 'Papua New Guinea ',
 'Papua New Guinea ',
 'Serbia ',
 'Fiji ',
 'Pakistan ',
 'Haiti ',
 'Philippines ',
 'Tanzania ',
 'Indonesia ',
 'Argentina ',
 'Colombia ',
 'Indonesia ',
 'Viet Nam ',
 'Burundi ',
 'Paraguay ',
 'Kenya ',
 'Maldives ',
 'Congo Democratic Republic ',
 'Qatar ',
 'Saudi Arabia ',
 'Ethiopia ',
 'Nigeria ',
 'Iraq ',
 'Belize ',
 'Guatemala ',
 'Algeria ',
 'Somalia ',
 'France ',
 'United States ',
 'Malawi ',
 'Somalia ',
 'Sierra Leone ',
 'Namibia ',
 'Fiji ',
 'United States ',
 'Niger ',
 'Sudan ',
 'Georgia ',
 'Macedonia ',
 'El Salvador ',
 "Korea, Democratic People's Republic ",
 "Lao People's Democratic Republic ",
 'Argentina ',
 'Ethiopia ',
 'Thailand ',
 'Burkina Faso ',
 'Guinea ',
 'Botswana ',
 'Viet Nam ',
 'Kazakhstan ',
 'Tajikistan ',
 'Guyana ',
 'Brazil ',
 'Haiti ',
 'Pakistan ',
 'Myanmar ',
 'Iran, Islamic Republic ',
 'Venezuela ',
 'Philippines ',
 'Myanmar ',
 'Costa Rica ',
 'Bhutan ',
 'Cameroon ',
 "Korea, Democratic People's Republic ",
 'Georgia ',
 'Bangladesh ',
 'Tajikistan ',
 'Ghana ',
 'India ',
 'Pakistan ',
 'United States ',
 "China, People's Republic ",
 'Colombia ',
 'Tajikistan ',
 'Central African Republic ',
 'Kenya ',
 'Rwanda ',
 'Somalia ',
 'Kazakhstan ',
 'Haiti ',
 'Mozambique ',
 'India ',
 'Chile ',
 'Ecuador ',
 'Argentina ',
 'Papua New Guinea ',
 'Pakistan ',
 'Dominican Republic ',
 'Macedonia ',
 'Peru ',
 'Indonesia ',
 'Albania ',
 'Bolivia ',
 'Malawi ',
 'Zimbabwe ',
 'United States ',
 'Malaysia ',
 'Thailand ',
 'Colombia ',
 'Sri Lanka ',
 'Morocco ',
 'Haiti ',
 'Indonesia ',
 'Ethiopia ',
 'Somalia ',
 'Bolivia ',
 'Nicaragua ',
 'Georgia ',
 'Honduras ',
 'Kenya ',
 'Hungary ',
 'Serbia ',
 'South Sudan ',
 'Pakistan ',
 'Cameroon ',
 'Sri Lanka ',
 'Korea Republic ',
 'Bangladesh ',
 'India ',
 'Niger ',
 'Bulgaria ',
 'Nepal ',
 "Lao People's Democratic Republic ",
 "China, People's Republic ",
 'Myanmar ',
 'Cambodia ',
 'Sudan ',
 "China, People's Republic ",
 'Thailand ',
 'India ',
 'Papua New Guinea ',
 'Argentina ',
 'Brazil ',
 "China, People's Republic ",
 'Philippines ',
 'Paraguay ',
 'Russia ',
 'Sri Lanka ',
 'Bosnia-Herzegovina ',
 'Tajikistan ',
 "China, People's Republic ",
 'Afghanistan ',
 'Bosnia-Herzegovina ',
 'Serbia ',
 'Tajikistan ',
 'Tanzania ',
 'Kazakhstan ',
 'Solomon Islands ',
 'South Africa ',
 'Peru ',
 'Pakistan ',
 'Paraguay ',
 'Fiji ',
 'Peru ',
 'Thailand ',
 'Burundi ',
 'Zimbabwe ',
 'Seychelles ',
 'Tanzania ',
 'Bolivia ',
 'Philippines ',
 'Indonesia ',
 'Colombia ',
 'United States ',
 'United States ',
 'United States ',
 'Saint Lucia ',
 'Saint Vincent & The Grenadines ',
 'Brazil ',
 'Indonesia ',
 'Thailand ',
 'Malaysia ',
 'Colombia ',
 'Saudi Arabia ',
 'Viet Nam ',
 'Somalia ',
 'Cambodia ',
 'Paraguay ',
 'Burkina Faso ',
 'Cameroon ',
 'Mauritania ',
 'Benin ',
 'Nigeria ',
 'Romania ',
 'Central African Republic ',
 'Viet Nam ',
 'South Sudan ',
 'Mali ',
 'Yemen ',
 "Lao People's Democratic Republic ",
 'Russia ',
 'Niger ',
 'Georgia ',
 'Philippines ',
 'Sudan ',
 'Pakistan ',
 'Afghanistan ',
 'Myanmar ',
 'Japan ',
 'Nicaragua ',
 'Georgia ',
 'Thailand ',
 'Botswana ',
 "Korea, Democratic People's Republic ",
 'Bolivia ',
 'Paraguay ',
 'Haiti ',
 'India ',
 'Nepal ',
 'Ecuador ',
 'Austria ',
 'Switzerland ',
 'Czech Rep ',
 'Germany ',
 'Hungary ',
 'Namibia ',
 'Uganda ',
 "China, People's Republic ",
 'Marshall Islands ',
 'Somalia ',
 'Ecuador ',
 'Ethiopia ',
 'Afghanistan ',
 'Ghana ',
 'Kenya ',
 'Colombia ',
 'Serbia ',
 'Namibia ',
 'Serbia ',
 'Macedonia ',
 'Zambia ',
 'Bolivia ',
 'Peru ',
 'Papua New Guinea ',
 'Botswana ',
 'Seychelles ',
 'Zimbabwe ',
 'Mozambique ',
 'Indonesia ',
 'Kenya ',
 'Palestine (West Bank, Gaza) ',
 'United States ',
 'Malawi ',
 'Sri Lanka ',
 'Congo, Republic ',
 'Brunei Darussalam ',
 'Burkina Faso ',
 'Moldova ',
 'Panama ',
 'Congo, Republic ',
 'Congo Democratic Republic ',
 'Haiti ',
 'Indonesia ',
 'Colombia ',
 'Guatemala ',
 'Sri Lanka ',
 'Gambia ',
 'Benin ',
 'Somalia ',
 'Mali ',
 'Senegal ',
 'Montenegro ',
 'India ',
 'Thailand ',
 'Central African Republic ',
 'Viet Nam ',
 'Cameroon ',
 'Indonesia ',
 'Chad ',
 'Sudan ',
 'Pakistan ',
 "Lao People's Democratic Republic ",
 'Niger ',
 'Myanmar ',
 'Japan ',
 'Nigeria ',
 'Nepal ',
 'Philippines ',
 'Sudan ',
 'South Sudan ',
 'Costa Rica ',
 'Panama ',
 "Korea, Democratic People's Republic ",
 "China, People's Republic ",
 'Georgia ',
 'Papua New Guinea ',
 'Afghanistan ',
 "China, People's Republic ",
 'Russia ',
 'Japan ',
 "China, People's Republic ",
 'India ',
 'Solomon Islands ',
 'Bangladesh ',
 'Philippines ',
 'Gabon ',
 "China, People's Republic ",
 'Guatemala ',
 'Thailand ',
 'Angola ',
 'Cuba ',
 'Afghanistan ',
 'Honduras ',
 'Ethiopia ',
 'Georgia ',
 'Venezuela ',
 'Brazil ',
 'Afghanistan ',
 'Nepal ',
 'Kyrgyzstan ',
 'Dominican Republic ',
 'Rwanda ',
 'Comoros ',
 'Russia ',
 'Kenya ',
 'Paraguay ',
 'Haiti ',
 'Tajikistan ',
 'Afghanistan ',
 'Kyrgyzstan ',
 'Colombia ',
 'Chile ',
 'Palestine (West Bank, Gaza) ',
 'Bolivia ',
 'Kazakhstan ',
 'Bulgaria ',
 'Malawi ',
 'Ecuador ',
 'Paraguay ',
 'Fiji ',
 'Bolivia ',
 'Brazil ',
 'United States ',
 'United States ',
 'Papua New Guinea ',
 'Philippines ',
 'Tanzania ',
 'Peru ',
 'Indonesia ',
 'Indonesia ',
 'Angola ',
 'Philippines ',
 'Congo Democratic Republic ',
 'Kenya ',
 'Tanzania ',
 'Venezuela ',
 'Panama ',
 'Mexico ',
 'United States ',
 'Sri Lanka ',
 'Mauritania ',
 'Viet Nam ',
 'Colombia ',
 'Myanmar ',
 'Nicaragua ',
 'Central African Republic ',
 'Somalia ',
 'Haiti ',
 'Afghanistan ',
 'Cambodia ',
 'Tuvalu ',
 'Tanzania ',
 'South Sudan ',
 "China, People's Republic ",
 'India ',
 'Viet Nam ',
 'Thailand ',
 'Mexico ',
 'Uganda ',
 'Guinea ',
 'Pakistan ',
 'Mali ',
 'Honduras ',
 'Ethiopia ',
 'Russia ',
 'Niger ',
 "China, People's Republic ",
 'Sudan ',
 'Guatemala ',
 'Kenya ',
 'Pakistan ',
 'Senegal ',
 'Myanmar ',
 'Ghana ',
 'Brazil ',
 'Japan ',
 "Korea, Democratic People's Republic ",
 'Bangladesh ',
 'Benin ',
 'Nigeria ',
 'India ',
 'Nepal ',
 "Lao People's Democratic Republic "]