In [1]:
!pip3 install PyGithub requests

Collecting PyGithub
  Downloading https://files.pythonhosted.org/packages/c1/1f/9dc4ba315eeea222473cf4c15d3e665f32d52f859d9d6e73219d0a408969/PyGithub-1.55-py3-none-any.whl (291kB)
     |████████████████████████████████| 296kB 5.4MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Collecting pyjwt>=2.0
  Downloading https://files.pythonhosted.org/packages/3f/32/d5d3cab27fee7f6b22d7cd7507547ae45d52e26030fa77d1f83d0526c6e5/PyJWT-2.1.0-py3-none-any.whl
Collecting deprecated
  Downloading https://files.pythonhosted.org/packages/fb/73/994edfcba74443146c84b91921fcc269374354118d4f452fb0c54c1cbb12/Deprecated-1.2.12-py2.py3-none-any.whl
Collecting pynacl>=1.4.0
  Downloading https://files.pythonhosted.org/packages/9d/57/2f5e6226a674b2bcb6db531e8b383079b678df5b10cdaa610d6cf20d77ba/PyNaCl-1.4.0-cp35-abi3-manylinux1_x86_64.whl (961kB)
     |████████████████████████████████| 962kB 18.7MB/s
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.7/dist-packages (from deprecated->PyGithub) (1.12.1)
Requirement already satisfied: cffi>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from pynacl>=1.4.0->PyGithub) (1.14.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from pynacl>=1.4.0->PyGithub) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.4.1->pynacl>=1.4.0->PyGithub) (2.20)
Installing collected packages: pyjwt, deprecated, pynacl, PyGithub
Successfully installed PyGithub-1.55 deprecated-1.2.12 pyjwt-2.1.0 pynacl-1.4.0

In [2]:
import pandas as pd
import numpy as np
import csv
from tqdm import tqdm
import base64
from github import Github
from io import BytesIO
import requests

In [3]:
# Username of your GitHub account
 
username = ''
 
# Personal Access Token (PAO) from your GitHub account
 
token = ''
 
# Creates a re-usable session object with your creds in-built
 
github_session = requests.Session()
github_session.auth = (username, token)

In [4]:
def download_data (url):

    url = url # Make sure the url is the raw version of the file on GitHub
    download = github_session.get(url).content

    df= pd.read_csv(BytesIO(download))
    
    return df

In [5]:
url = 'https://raw.githubusercontent.com/OmdenaAI/WeoWater/main/task-1-scraping-twitter/Twitter_Data_twint.csv'
twitter_data_twint= download_data(url)

In [6]:
twitter_data_twint.isnull()

          id   date   time  ...  reply_to  length  Cleaned Tweets
0      False  False  False  ...     False   False           False
1      False  False  False  ...     False   False           False
2      False  False  False  ...     False   False           False
3      False  False  False  ...     False   False           False
4      False  False  False  ...     False   False           False
...      ...    ...    ...  ...       ...     ...             ...
30083  False  False  False  ...     False   False           False
30084  False  False  False  ...     False   False           False
30085  False  False  False  ...     False   False           False
30086  False  False  False  ...     False   False           False
30087  False  False  False  ...     False   False           False

[30088 rows x 12 columns]

In [7]:
#Fill null values in Place column
twitter_data_twint['place'].fillna('Not Specified',inplace=True)

In [8]:
#Clean the hashtag column in proper format
tags=[]
for hash_tags in twitter_data_twint['hashtags']:
  hash_tags = hash_tags.replace("'","")
  tags.append(hash_tags.replace("[","").replace("]",""))
tags = ["NoTags" if x == '' else x for x in tags]
twitter_data_twint['hashtags']= tags

In [9]:
twitter_data_twint['hashtags'].unique()

array(['NoTags', 'tadd', 'ketsana', ...,
       'deluge, mumbairains, inundation', 'chswx, chsnews',
       'weatherupdate, isaias'], dtype=object)

In [10]:
twitter_data_twint['date/time range']= twitter_data_twint['date']+ ' ' + twitter_data_twint['time']

In [11]:
first_column = twitter_data_twint.pop('date/time range')
twitter_data_twint.insert(0,'date/time range', first_column)

In [12]:
#Droping unwanted columns 
twitter_data_twint= twitter_data_twint.drop(['id','length','reply_to','date','time'],axis=1)

In [15]:
#tagged the data with new label- flood,drought, None
category=[]
for tweet in twitter_data_twint['Cleaned Tweets']:
  if 'flood' in tweet:
    category.append('flood')
  elif any(x in tweet for x in ['flood','drought']):
    category.append('flood_and_drought')
  elif 'drought' in tweet:
    category.append('drought')
  else:
    category.append('None')

In [18]:
#Added new column category- which have new tagged label
twitter_data_twint['category']= category

In [19]:
twitter_data_twint['category'].unique()

array(['flood', 'None', 'flood_and_drought'], dtype=object)

In [20]:
twitter_data_twint.to_csv('Preprocessed_twitter_data_twint.csv')

In [21]:
twitter_data_twint

           date/time range  ...  category
0      2020-10-31 07:56:37  ...     flood
1      2020-10-31 07:49:35  ...     flood
2      2020-10-31 07:23:57  ...     flood
3      2020-10-31 07:12:06  ...     flood
4      2020-10-31 07:10:16  ...     flood
...                    ...  ...       ...
30083  2020-08-03 17:47:10  ...      None
30084  2020-08-03 17:41:11  ...      None
30085  2020-08-03 17:38:53  ...      None
30086  2020-08-03 17:33:13  ...      None
30087  2020-08-03 17:26:55  ...      None

[30088 rows x 9 columns]